.box{
   /*color: #fff;*/
    padding: 20px;
    display: none;
    margin-top: 20px;
}
.mtop{
    margin-top: 50px;
}
.txtwht{
    color: white;
}
.txtwht > a {
  color: #ffffff;
}
table.borderless td,table.borderless th{
  border: none !important;
}
.table2 {
    table-layout: fixed;
    word-wrap: break-word;
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:100%; background-color: #ffffff;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #ffffff;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {background: #fbbd19;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .bs-wizard-step.disabled > .progress > .progress-bar {width:100%; background-color: #ffffff;}

/*END Form Wizard*/
.ficha {
    display: none;
}

.center-div
{
  position: absolute;
  margin: auto;
  /*top: 50;*/
  right: 0;
  /*bottom: 0;*/
  left: 0;
  /*width: 100px;
  height: 100px;*/
  border-radius: 3px;
}
.bottom-div
{
 position: absolute;
 margin: auto;
 left: 0;
 bottom: 0;

}
.wizfit
{

    display: block;
    min-height: 50px;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}






/* a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    border: none;
    margin-bottom: 10px;
}
.tab .nav-tabs li a{
    padding: 10px 20px;
    margin-right: 5px;
    background: #1ab394;;
    font-size: 13px;
    color: #fff;
    border: none;
    border-top: 3px solid #1ab394;;
    border-bottom: 3px solid #1ab394;;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
} */
/* .tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover{
    border: none;
    border-top: 3px solid #1ab394;;
    border-bottom: 3px solid #1ab394;;
    background: #fff;
    color: #1ab394;;
} */
/* .tab .nav-tabs li a:before{
    content: "";
    border-top: 15px solid #1ab394;;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 0;
    left: -50%;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before{ left: 0; }
.tab .nav-tabs li a:after{
    content: "";
    border-bottom: 15px solid #1ab394;;
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    position: absolute;
    bottom: 0;
    right: -50%;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after{ right: 0; }
.tab .tab-content{
    padding: 20px 30px;
    border-top: 3px solid #384d48;
    border-bottom: 3px solid #384d48;
    font-size: 13px;
    color: #384d48;
    letter-spacing: 1px;
    line-height: 20px;
    position: relative;
}
.tab .tab-content:before{
    content: "";
    border-top: 25px solid #384d48;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
} */
/* .tab .tab-content:after{
    content: "";
    border-bottom: 5px solid #384d48;
    border-left: 25px solid transparent;
    border-top: 25px solid transparent;

}

@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
} */
